<div class="wire"
     [style.top]="horizontalBox.getTop()+'px'"
     [style.left]="horizontalBox.getLeft()+'px'"
     [style.width]="horizontalBox.getWidth()+'px'"
     [style.height]="horizontalBox.getHeight()+'px'"></div>

<div class="wire"
     [style.top]="verticalBox.getTop()+'px'"
     [style.left]="verticalBox.getLeft()+'px'"
     [style.width]="verticalBox.getWidth()+'px'"
     [style.height]="verticalBox.getHeight()+'px'"></div>


<div class="dot"
     [style.top]="dot.yStyle"
     [style.left]="dot.xStyle"
     [style.width]="lineWidth *2+'px'"
     [style.height]="lineWidth *2+'px'"></div>