div {
  background-color: rgb(25, 168, 7);
  position: fixed;


  &.error {
    background-color: red;
  }
}


canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;

  pointer-events: none;
}
