<div class="swipe"
     (swipeleft)="left()"
     (swiperight)="right()">

  <div class="title">{{tabs[currentIndex].title }}</div>
  <mat-list>
    <div *ngFor="let item of tabs[currentIndex].items"
         mat-list-item>
      <div class="list-item">
        <mat-card class="sender"
                  [attr.item]="item.id"
                  [routerLink]="getRouterLink(currentIndex,item.id)"
                  (click)="setActive(item,$event)">
          <mat-card-title>
            {{item.id}} {{item.name}}
          </mat-card-title>
          <mat-card-subtitle>
            {{item.description}}
          </mat-card-subtitle>
        </mat-card>
      </div>
    </div>
  </mat-list>

</div>