.node {
  padding-left: 4px;
  padding-right: 4px;

  width: 200px;

  .border {
    border-radius: 4px;
    border: 2px solid black;
    min-height: 20px;
    padding: 6px;
    position: relative;

    &.selected {
      border-color: orange;
    }

    &.inputactive {
      border-left-color: rgb(117 255 0);
    }

    &.outputactive {
      border-right-color: rgb(117 255 0);
    }


    .icons {
      position: absolute;
      right: 4px
    }

    .nodename {
      white-space: pre;
    }

    .type {
      &.highlighted {
        color: #5a00e5
      }
    }

    .inputSchema {
      position: absolute;
      left: -2px;
      top: -2px;
      font-size: 15px;
    }

    .connector {
      position: absolute;
      border-radius: 20px;
      width: 4px;
      height: 8px;
      border: 2px solid black;

      &.selected {
        border-color: orange;

      }

      &.editable {
        cursor: pointer;
      }

      &.inputs {
        left: -8px
      }

      &.ouputs {
        right: -8px
      }
    }
  }

}
