<div class="node">

  <div class="border"
       [class.selected]="selected"
       [class.inputactive]="(inputActive$|async)==true"
       [class.outputactive]="(outputActive$|async)==true"
       [style.minHeight]="(size+1)*20+'px'">
    <div class="icons">
      <mat-icon *ngIf="node?.runtimeContext?.outputSchema?.jsonSChema">security</mat-icon>

    </div>
    <mat-icon class="inputSchema"
              *ngIf="node?.runtimeContext?.inputSchema"
              [title]="node?.runtimeContext?.inputSchema.dts?.replace('export type ','')">security</mat-icon>
    <div #input
         *ngFor="let n of inputArray;let indx=index"
         class="connector inputs"
         [class.editable]="editable"
         [class.selected]="selected"
         [style.top]="(indx*20+10+6+2)+'px'"
         id="droptarget{{indx}}_{{prefix}}"
         (dragover)="dropAllowed($event)"
         (drop)="onDrop($event,indx)">
    </div>
    <ng-content></ng-content>
    <div *ngIf="node?.runtimeContext?.info">
      {{node?.runtimeContext?.info}}
    </div>
    <div *ngIf="node?.runtimeContext?.lastOutputEventTime">
      {{localeTime()}}
    </div>
    <div #output
         *ngFor="let n of ouputsArray;let indx=index"
         class="connector ouputs"
         [class.editable]="editable"
         [class.selected]="selected"
         [style.top]="(indx*20+10+6+2)+'px'"
         draggable="true"
         (dragstart)="startConnection($event,indx)">
    </div>
  </div>

</div>