<div class="gridinset"
     (mousemove)="updatePosition($event,gridwrapper)"
     (touchmove)="updatePosition($event,gridwrapper)"
     (mouseup)="drop()"
     (touchend)="drop()">
  <div class="gridwrapper"
       [class.configuration]="state.isadding||state.isredrag"
       #gridwrapper>

    <div class="griditem"
         *ngFor="let config of (tempNodes??nodes);trackBy:track">
      <mat-icon *ngIf="state.isedit"
                class="delete"
                (clickcpt)="removeCfg(config,$event);">delete</mat-icon>
      <mat-icon *ngIf="state.isedit && config.type=='button'"
                class="background"
                (clickcpt)="addBackground(config)">add</mat-icon>
      <div (longpress)="configPressed(config,$event)"
           longpress
           (mousedown)="redrag(config,$event)"
           (touchstart)="redrag(config,$event)">
        <app-button *ngIf="config.type=='button'"
                    [config]="config"
                    (actionTrigger)="baseAction(config)">
        </app-button>
        <app-progress *ngIf="config.type=='progress'"
                      [config]="config">

        </app-progress>
        <app-diagram *ngIf="config.type=='diagram'"
                     [config]="config">
        </app-diagram>
      </div>
    </div>


  </div>
</div>

<div class="actions-backdrop"
     (tap)="state.setpressable()"
     *ngIf="state.ispickingadd||state.isadding||state.isaddbackground">
  <div class="actions"
       *ngIf="(receivers$|async);let receivers">
    <ng-container *ngFor="let receiver of receivers">
      <ng-container *ngIf="receiver">
        <ng-container *ngFor="let action of receiver.actions">

          <div class="actionchoice"
               *ngIf="!state.isaddbackground"
               (mousedown)="dragNewActionStart($event,receiver,action)"
               (touchstart)="dragNewActionStart($event,receiver,action)"
               (touchmove)="updatePosition($event,gridwrapper)"
               (touchend)="drop()">
            <app-action-template [action]="action"
                                 [receiver]="receiver"></app-action-template>
          </div>

        </ng-container>

        <ng-container *ngIf="receiver.events">
          <div *ngIf="{name:'events',type:'diagram'} let action"
               class="actionchoice"
               (mousedown)="dragNewActionStart($event,receiver,action)"
               (touchstart)="dragNewActionStart($event,receiver,action)"
               (touchmove)="updatePosition($event,gridwrapper)"
               (touchend)="drop()">
            <app-action-template [action]="action"
                                 [receiver]="receiver"></app-action-template>
          </div>
        </ng-container>
      </ng-container>

    </ng-container>

  </div>
</div>

<div class="dragoverlay"
     [style.top]="tempCursorPos.y+'px'"
     [style.left]="tempCursorPos.x+'px'"
     *ngIf="!!tempNodes && !!tempCursorPos && !!tempData">
  <app-action-template [action]="tempData.action"
                       [receiver]="tempData.receiver"></app-action-template>
</div>

<!-- <button mat-fab
        (click)="configPressed(null,$event)"
        class="edit-button">
  <mat-icon>edit</mat-icon>
</button> -->
<button mat-fab
        (click)="configSwipe()"
        class="add-button">
  <mat-icon>add</mat-icon>
</button>