@for (item of parsedData; track item) {
  <div>
    @if (isArray(item)) {
      <div class="nested"
        >
        <app-net-display [data]="cast(item)"></app-net-display>
      </div>
    } @else {
      @if (isObj(item); as item) {
        <app-connection-view
        [data]="item"></app-connection-view>
      } @else {
        @if (isItem(item); as asItem) {
          <span (click)="click(asItem)">
            {{asItem.name??asItem.constructor.name}}
          </span>
        }
      }
    }
  </div>
}