node_modules
public
creds.h
/server/.vscode/sftp.json
package-lock.json
clients/sound-detection/__pycache__/
clients/sound-detection/model
sftp.json
.history

clients/arduino/water-supply/water-supply/platformio.ini
clients/arduino/**/src/lib/*

clients/pc-receiver/services/speech_files
clients/pc-receiver/.env
clients/pc-receiver/.env.prod.env
clients/pc-receiver/services/sounds/
/clients/pc-receiver/smarthomereceiver.sh

clients/arduino/radio-repeater/radio-repeater/personal-guide.txt
__pycache__/
clients/pc-receiver/data/
server/angular/smarthome/src/environments/
