node_modules
public
creds.h
/server/.vscode/sftp.json
package-lock.json
clients/**/sound-detection/__pycache__/
clients/**/sound-detection/model
sftp.json
.history

clients/arduino/water-supply/water-supply/platformio.ini
clients/arduino/**/src/lib/*

clients/pc-receiver/services/speech_files
clients/pc-receiver/.env
clients/pc-receiver/.env.prod.env
clients/pc-receiver/services/sounds/
/clients/pc-receiver/smarthomereceiver.sh
clients/pc-receiver/smarthomereceiver.bat

clients/arduino/radio-repeater/radio-repeater/personal-guide.txt
__pycache__/
clients/pc-receiver/data/
server/angular/smarthome/src/environments/
server/src/services/tuya.ts
server/src/services/tuya.spec.ts
authprovider.py
clients/pc-receiver/bash.exe.stackdump
clients/pc-receiver/services/calendar-uid-blacklist.ts
server/src/services/generic-node/_type
server/src/services/generic-node/nodes.json
clients/pc-receiver/services/calendar-event-check.ts
server/test/local-setup.ts
server/src/services/generic-node/last-event-times.json
server/src/services/generic-node/last-events.json
server/src/services/generic-node/type-collapse.test.ts
server/src/module-src/quicktype-core
server/src/services/generic-node/validation/files/types
clients/**/watch/src/lib
clients/**/watch/example-rs-data.txt

!clients/**/watch/**/.pio/LoRaWAN/LoRaWAN.cpp
clients/**/watch/src/lora_config.h
server/src/services/generic-node/nodes copy.json
server/bash.exe.stackdump
server/buildInfoPath
clients/pc-receiver/logs
server/src/services/generic-node/node-data/nodes
server/src/services/generic-node/node-data/deleted-node-data

creds/env.py
clients/drone/.venv/
server/src/services/generic-node/node-services/tuya/devices.ts
server/src/services/tuyapi.spec.ts
server/src/services/tuya.py

clients/archive/**/src/lib/*
# cloned smarthome lib
clients/pi/zero/weights/smarthome
clients/pi/co2/src/smarthome