node_modules
public
creds.h
/server/.vscode/sftp.json
/clients/pc-receiver/smarthomereceiver.sh
package-lock.json
clients/pc-receiver/services/sounds/
clients/sound-detection/__pycache__/
clients/sound-detection/model
sftp.json
clients/arduino/water-supply/water-supply/platformio.ini
.history