<div class="connection-wrapper">

    <app-in-out [node]="node"
                [offsetVector]="mainOffset"
                scale="2.2">
        <img [src]="getIcon()"
             (click)="openSnackbar(options)" />
    </app-in-out>
    <app-in-out #innerSwitch
                class="innerinout"
                [node]="nestedSwitchColelction"
                [offsetVector]="innerSwitchOffset"
                invers="true"
                scale="2.2"
                noInput="true">
        <div class="spacer">

        </div>
    </app-in-out>
    <app-in-out #outerSwitch
                class="outerinout"
                [offsetVector]="outerSwitchOffset"
                [node]="node.switch1"
                scale="2.2"
                invers="true">
        <div class="spacer">

        </div>
    </app-in-out>
</div>



<ng-template #options>
    <button (click)="toggleRelay()">toggle</button>
</ng-template>