<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav
                 mode="push"
                 class="sidenav"
                 [opened]="sidenavOpened"
                 (mouseenter)="openSideNav()"
                 (mouseleave)="leaveSideNav()">
        <mat-nav-list>
            <h4> Smart Home</h4>
            <a mat-list-item
               (mouseover)="$event.target.click()"
               routerLinkActive="activeRoute"
               [routerLink]="(mobile$|async) ? 'setup/mobile':'setup'">
                Setup
            </a>
            <a mat-list-item
               (mouseover)="$event.target.click()"
               routerLinkActive="activeRoute"
               routerLink="timers">
                Timers
            </a>
            <a mat-list-item
               (mouseover)="$event.target.click()"
               routerLinkActive="activeRoute"
               routerLink="camera">
                Camera
            </a>
            <a mat-list-item
               (mouseover)="$event.target.click()"
               routerLinkActive="activeRoute"
               routerLink="options">
                Options
            </a>
            <a mat-list-item
               (mouseover)="$event.target.click()"
               routerLinkActive="activeRoute"
               routerLink="inventory">
                Inventory
            </a> <a mat-list-item
               (mouseover)="$event.target.click()"
               routerLinkActive="activeRoute"
               routerLink="todo">
                Todo
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content-wrapper">
            <div class="mouseenter"
                 (mouseenter)="openFromContent()"
                 (mouseleave)="leaveContentHover()">
                <mat-icon>menu</mat-icon>
            </div>
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>

</mat-sidenav-container>