<mat-sidenav-container class="drop-in-container">
    <mat-sidenav opened="true"
                 position="end"
                 mode="side">
        <div class="sidenav">
            <ng-container *ngFor="let templ of nodeTemplates">
                <img *ngIf="templ.templateIcon.startsWith('asset:');else maticon"
                     [src]="templ.templateIcon.split('asset:')[1]"
                     (dragend)="dropped($event,templ)"
                     draggable="true">

                <ng-template #maticon>
                    <mat-icon (dragend)="dropped($event,templ)"
                              draggable="true">{{templ.templateIcon}}
                    </mat-icon>
                </ng-template>

            </ng-container>
        </div>
        <div style="position: absolute;bottom: 0px;">
            <button (click)="storeToLocal()">store</button>
            <button (click)="loadFromLocal()">load</button>

            <app-connection-view [data]="dataStructures"></app-connection-view>
        </div>
    </mat-sidenav>
    <mat-sidenav-content (dragover)="mouseMove($event)">

        <p>
            wiring works!<br>

            <span *ngFor="let bat of batteries">
                battery capacity {{getRemainingBattery(bat)}} <br>
                drain at {{bat.currentCurrent_ampere||'0'}}A <br>
                duraiton : {{ bat.getProjectedDurationMinutes() }} seconds <br>

            </span>
        </p>

        <div *ngFor="let node of nodes"
             (dragend)="updatePosition(node,$event)"
             class="node-wrapper"
             draggable="true"
             [style.left]="node.uiInstance.getPosition().x+'px'"
             [style.top]="node.uiInstance.getPosition().y+'px'">
            <app-view-template [addingData]="node.componentRef"></app-view-template>
        </div>

        <app-wire-ui class="tempWire"
                     *ngIf="data.currentWire ; let wire"
                     [fromVector]="wire.from"
                     [toVector]="wire.to">
        </app-wire-ui>

        <ng-container *ngFor="let wire of this.wirePositions">
            <app-wire-ui *ngIf="wire"
                         [fromVector]="wire.from"
                         [toVector]="wire.to">
            </app-wire-ui>
        </ng-container>


    </mat-sidenav-content>

</mat-sidenav-container>