:host {
  flex-grow: 1;
}

.content-wrapper {
  height: 100%;
  flex: 1;
  display: flex;
  justify-content: center;


  td {
    vertical-align: top;


    .mat-list-item {
      width: 100%;


      .list-item {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        flex-grow: 1;
        width: 100%;



        &.iconlistitem {
          justify-content: center;
          cursor: pointer;

          mat-icon {
            margin-right: 32px;
          }
        }



        mat-card {
          margin: 4px 0px;
          padding: 16px;
          width: 100%;

          &.editable {
            min-width: 200px;
          }

          &.sender {}

          .mat-card-subtitle {
            overflow: hidden;
            text-overflow: ellipsis;
            width: 400px;

            max-height: 3em;
            line-height: 1em;
          }
        }


        mat-icon.startConnection {
          cursor: pointer;

          &.active {
            color: green;
          }
        }
      }
    }
  }
}
