@if (sender$|async let sender) {
  <p>
    Sender {{sender.id}}
  </p>
  <mat-tab-group mat-stretch-tabs
    [selectedIndex]="currentTab"
    (selectedIndexChange)="indexChange($event)">
    <mat-tab label="connections">
      <div class="list">
        @for (item of sender.connections; track item) {
          <mat-card
            class="connection"
            fxFlexAlign="stretch"
            [attr.item]="item.id">
            <!--  [routerLink]="getRouterLink(currentIndex,item.id)"
            (click)="setActive(item,$event)" -->
            <mat-card-title>
              {{item.receiver.id}} {{item.receiver.name}}
            </mat-card-title>
            <mat-card-subtitle>
              {{item.description}}
            </mat-card-subtitle>
          </mat-card>
        }
      </div>
    </mat-tab>
    <mat-tab label="transformations"
      bodyClass="transform-body">
      <mat-select [(value)]="transformer">
        @if (transformer) {
          <mat-select-trigger>
            {{transformer.name}}({{transformer.transformationKey}})
          </mat-select-trigger>
        }
        <mat-option routerLink="add">
          Add Router
        </mat-option>
        @for (transformation of sender.transformation; track transformation) {
          <mat-option
            [value]="transformation">
            <button mat-icon-button
              class="right"
              aria-label="Example icon button with a vertical three dot icon">
              <mat-icon>delete</mat-icon>
            </button>
            {{transformation.name}} ({{transformation.transformationKey}})
          </mat-option>
        }
      </mat-select>
      <app-monaco-editor [ngModel]="transformer.transformation"
        [readonly]="true"
      [definition]="transformer.definitionFile"></app-monaco-editor>
      <button mat-raised-button
        (click)="triggerTransformer(sender)"
      color="primary">test</button>
    </mat-tab>
  </mat-tab-group>
}