<div class="container">
  @for (timer of timers; track timer) {
    <div class="timer-wrapper" #timerWrapper>
      <circle-progress
        [percent]="getPercent(timer)"
        [responsive]="true"
        [subtitle]="getSubtitle(timer)"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        outerStrokeColor="#78C000"
        innerStrokeColor="#C7E596"
        [animation]="false"
        [animationDuration]="100"
      >
      </circle-progress>
    </div>
  } @empty {
    <span> Keine aktiven Timer </span>
  }
</div>
