<div class="container">

  <div *ngFor="let timer of timers"
       class="timer-wrapper"
       #timerWrapper>
    <circle-progress [percent]="getPercent(timer)"
                     [responsive]="true"
                     [subtitle]="getSubtitle(timer)"
                     [outerStrokeWidth]="16"
                     [innerStrokeWidth]="8"
                     outerStrokeColor="#78C000"
                     innerStrokeColor="#C7E596"
                     [animation]="false"
                     [animationDuration]="100">
    </circle-progress>
  </div>
  <mat-grid-tile *ngIf="timers && !timers.length">
    Keine aktiven Timer
  </mat-grid-tile>
</div>