@if (item$ | async; as item) {
  <h3>{{ item.id }}</h3>
  <br />
  {{ item.description }}<br />
  <form
    autosaving-provider
    [dataRef]="item.id"
    dataRefName="itemRef"
    resource="item"
  >
    <!--   <div
  contenteditable="true"
  name="customdescription"
  #textref
  autosaving
  (input)="onContentInput(textref)"
  (blur)="onContentInput(textref)"
  [innerText]="item.customdescription"
  (paste)="onPaste($event)"
  style="min-height: 80px; border: 1px solid #ccc; padding: 6px;"


  
      (ngModelChange)="resizeTextArea(textref)"
></div>

<br /> -->
    <app-text-editor
      #textref
      autosaving
      name="customdescription"
      [(ngModel)]="item.customdescription"
    >
    </app-text-editor>
    <br />
  </form>
  <img [src]="item.orderImageSrc" style="max-height: 500px" />
  <br />
  <a [href]="item.productLink" target="_blank">
    {{ item.order?.type ?? "" }} {{ getProductId(item) }}
  </a>
  <br />
  location:
  <app-location [item]="item"></app-location>
}
