
.container{
  display: inline-flex;

  

  mat-form-field{
    //height: 50px;
  
    &.transformerselection{
      margin-right: 14px;
    }
  
    &.transofrmerName{
      margin-right:20px;
  
        textarea{
          resize: none;
          height:31px
        }
    }
  }
  
}
::ng-deep{
  .cdk-overlay-pane{
    width: unset !important;
  }
}
 ::ng-deep .mat-select-panel  {
    max-height: 400px !important;
  }

  ::ng-deep{
  .listitem{
    white-space: nowrap !important;
  }

  }