<mat-card autosaving-provider
          [dataRef]="data.id"
          resource="receiver"
          dataRefName="itemRef">
    <mat-card-title>

        <mat-form-field class="example-full-width">
            <input matInput
                   autosaving
                   [(ngModel)]="data.name"
                   placeholder="Name"
                   name=name>
        </mat-form-field>
        <div class="id rightfloat">
            {{data.id}}
        </div>
    </mat-card-title>
    <mat-card-content>
        ssfjsoig jsio gjswoi egjois jgoisj go9sj dgosgjosogjoo<br>
        ssfjsoig jsio gjswoi egjois jgoisj go9sj dgosgjosogjoo<br>
        ssfjsoig jsio gjswoi egjois jgoisj go9sj dgosgjosogjoo<br>
        ssfjsoig jsio gjswoi egjois jgoisj go9sj dgosgjosogjoo<br>
        ssfjsoig jsio gjswoi egjois jgoisj go9sj dgosgjosogjoo<br>
        ssfjsoig jsio gjswoi egjois jgoisj go9sj dgosgjosogjoo<br>
        ssfjsoig jsio gjswoi egjois jgoisj go9sj dgosgjosogjoo<br>
        ssfjsoig jsio gjswoi egjois jgoisj go9sj dgosgjosogjoo<br>
        ssfjsoig jsio gjswoi egjois jgoisj go9sj dgosgjosogjoo<br>
    </mat-card-content>
</mat-card>