::ng-deep{
    .line-numbers{
        width:26px !important
    }
}

.savedIcon{
    position: absolute;
    padding-top: 8px;
    right: 48px;
    
    z-index: 9;
    /*transition: opacity 1s ease-in-out;
    opacity: 1;*/
  
    &.hidden{
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 1s, opacity 1s linear
    }
  
    
  }
  .white-icon {
    color: white;
  }