<select #selectEl
        (change)="updateLocation(selectEl.value)">
  <option [value]=""></option>
  <option *ngFor="let loc of inventoryService.locations$|async"
          [selected]="item?.location?.id===loc.id"
          [value]="loc.id">
    {{loc.description}}
  </option>
</select>
<button (click)="newLocation(newloc)">
  <mat-icon>add</mat-icon>
</button>
<a href="/inventory/location/{{item?.location?.id}}">
  go to location ({{item?.location?.id}})
</a>

<video #videoRef
       style="display: none;"></video>

<button (click)="scan_qr(videoRef)">
  <mat-icon>camera_alt</mat-icon>
</button>


<ng-template #newloc>
  <form (submit)="createNewLcoation($event)">
    description: <input name="description">

    <button type="submit">submit</button>
  </form>
</ng-template>