<div autosaving-provider
     class="codeeditor"
     [dataRef]="transformer.id"
     resource="transformation"
     dataRefName="itemRef">

  <app-monaco-editor *ngIf="transformer"
                     [(ngModel)]="transformer.tsTransformation"
                     [(jsCode)]="transformer.transformation"
                     [definition]="transformer.definitionFile"
                     autosaving
                     name=tsTransformation>
  </app-monaco-editor>

  <input #jsTransform
         hidden
         *ngIf="transformer"
         [(ngModel)]="transformer.transformation"
         autosaving
         name=transformation>
</div>