<div autosaving-provider
  class="codeeditor"
  [dataRef]="transformer.id"
  resource="transformation"
  dataRefName="itemRef">

  @if (transformer) {
    <app-monaco-editor
      [(ngModel)]="transformer.tsTransformation"
      [(jsCode)]="transformer.transformation"
      [definition]="transformer.definitionFile"
      autosaving
      name=tsTransformation>
    </app-monaco-editor>
  }

  @if (transformer) {
    <input #jsTransform
      hidden
      [(ngModel)]="transformer.transformation"
      autosaving
      name=transformation>
  }
</div>