<div class="container">
  <mat-grid-list [cols]="cols"
    rowHeight="fit">
    @for (timer of timers; track timer) {
      <mat-grid-tile>
        <circle-progress [percent]="getPercent(timer)"
          [responsive]="true"
          [subtitle]="getSubtitle(timer)"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          outerStrokeColor="#78C000"
          innerStrokeColor="#C7E596"
          [animation]="false"
          [animationDuration]="100">
        </circle-progress>
      </mat-grid-tile>
    }
    @if (timers && !timers.length) {
      <mat-grid-tile>
        Keine aktiven Timer
      </mat-grid-tile>
    }
  </mat-grid-list>
</div>