<div class="wrapper"
     *ngIf="(inventory$|async) ;let inventory">

    <table mat-table
           matSort
           [dataSource]="dataSource"
           class="mat-table">

        <ng-container matColumnDef="id">
            <th mat-header-cell
                mat-sort-header
                *matHeaderCellDef> No. </th>
            <td mat-cell
                *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell
                mat-sort-header
                *matHeaderCellDef> Name
                <mat-form-field class="filter"
                                (click)="$event.stopPropagation()">
                    <input matInput
                           placeholder="filter"
                           (input)="setFilter($event,inventory)">
                </mat-form-field>
            </th>
            <td mat-cell
                *matCellDef="let element">
                <app-regex-highlighted></app-regex-highlighted>
            </td>
        </ng-container>

        <ng-container matColumnDef="amount">
            <th mat-header-cell
                mat-sort-header
                *matHeaderCellDef> Amount </th>
            <td mat-cell
                class="number"
                *matCellDef="let element"> {{element.amount}} </td>
        </ng-container>

        <ng-container matColumnDef="productLink">
            <th mat-header-cell
                mat-sort-header
                *matHeaderCellDef> PrductLink </th>
            <td mat-cell
                *matCellDef="let element">
                <a [href]="element.productLink">
                    <app-regex-highlighted [text]="getProductId(element)"></app-regex-highlighted>

                </a>
            </td>
        </ng-container>
        <ng-container matColumnDef="orderImageSrc">
            <th mat-header-cell
                *matHeaderCellDef> Image </th>
            <td mat-cell
                *matCellDef="let element">
                <img class="orderImage"
                     [src]="element.orderImageSrc" />
            </td>
        </ng-container>
        <ng-container matColumnDef="location">
            <th mat-header-cell
                mat-sort-header
                *matHeaderCellDef> Loc </th>
            <td mat-cell
                *matCellDef="let element;"> {{element.location}} </td>
        </ng-container>

        <ng-container matColumnDef="order">
            <th mat-header-cell
                mat-sort-header
                *matHeaderCellDef> Order </th>
            <td mat-cell
                *matCellDef="let element"> {{element.order}} </td>
        </ng-container>
        <tr mat-header-row
            *matHeaderRowDef="keys;sticky:true"></tr>
        <tr mat-row
            *matRowDef="let row; columns: keys;"></tr>
    </table>
</div>