form {
  min-width: 600px;

  mat-card {
    padding: 16px;

    mat-form-field.example-full-width {
      margin-top: 32px;
      transform: translateX(16px);
    }

    .id {
      font-size: 36px;
      text-align: end;


      .toprow {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: black;

        .delete_icon {
          margin-bottom: 4px;
        }
      }
    }




    .right {
      float: right;

      .center {
        display: inline-flex;
        float: right;
        font-size: 16px;
        align-items: center;


        mat-form-field {
          height: 60px;
        }

        .test-button {
          height: 40px;
        }
      }
    }

    mat-card-content {
      .content {

        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        .description {
          height: 160px;
          width: 500px;
        }


      }
    }
  }
}
