<form>
  <mat-card autosaving-provider
            [dataRef]="data.id"
            resource="sender"
            dataRefName="itemRef">
    <mat-card-title>
      <mat-form-field class="example-full-width">
        <input [(ngModel)]="data.name"
               matInput
               placeholder="Name"
               name=name
               autosaving>
      </mat-form-field>
      <div class="id right">
        {{data.id}} {{data.deviceKey}} <br>
        <div class="center">
          <app-transformer-drop-down [data]="data"
                                     *ngIf="data.transformationAttribute"
                                     [(transformer)]="transformer">
          </app-transformer-drop-down>
          <button class="right test-button"
                  color="primary"
                  (click)="testSend()"
                  mat-flat-button>
            Test
          </button>
          <button mat-icon-button
                  class="right"
                  (click)="displayTimers()"
                  aria-label="battery display">
            <mat-icon>schedule</mat-icon>
          </button>
          <button mat-icon-button
                  class="right"
                  (click)="displayEvents()"
                  aria-label="battery display">
            <mat-icon>date_range</mat-icon>
          </button>
          <button mat-icon-button
                  class="right"
                  (click)="displayBattery()"
                  aria-label="battery display">
            <mat-icon>battery_unknown</mat-icon>
          </button>
        </div>
      </div>
    </mat-card-title>
    <mat-card-content>
      <div class="content">
        <mat-form-field class="description">
          <textarea matInput
                    class="description"
                    name=description
                    multiple
                    autosaving
                    maxlength=512
                    placeholder="description"
                    [(ngModel)]="data.description"></textarea>
        </mat-form-field>
        <div autosaving-provider
             class="codeeditor"
             [dataRef]="transformer.id"
             resource="transformation"
             dataRefName="itemRef">


          <code-editor *ngIf="transformer"
                       [(ngModel)]="transformer.transformation"
                       [codetitle]="title$|async"
                       autosaving
                       name=transformation
                       placeholder="// code">
          </code-editor>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>